h1 {
    text-align: center;
    color: red;
}
.card {
    height: 150px;
    width: 100px;
    padding: 3px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 100px;
    display: inline-block;
}
#cardArea {
    font-size: 1.5em;
}
.clubs, .spades{
    color: black;
}
.hearts, .diams {
    color: red;
}

